@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor;
@{
    var controller = _httpContextAccessor.HttpContext.Request.RouteValues["Controller"].ToString().ToLower();
}

<!doctype html>
<html lang="en" data-layout="vertical" data-layout-style="default" data-layout-position="fixed" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-layout-width="fluid">

<head>

    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Administrator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content=" Admin" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/admin/assets/images/favicon.ico">
    <!-- plugin css -->
    <link href="~/admin/assets/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet" />
    <!-- Layout config Js -->
    <script src="~/admin/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="~/admin/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Icons Css -->
    <link href="~/admin/assets/css/icons.min.css" rel="stylesheet" />
    <!-- App Css-->
    <link href="~/admin/assets/css/app.min.css" rel="stylesheet" />
    <!-- custom Css-->
    <link href="~/admin/assets/libs/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
    <link href="~/admin/assets/css/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/admin/assets/css/custom.min.css" rel="stylesheet" />
    <link href="~/admin/assets/libs/select2/select2.min.css" rel="stylesheet" />
    <link href="~/admin/assets/css/toastr.min.css" rel="stylesheet" />
    @await RenderSectionAsync("Css", required: false)

</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">
        @Html.Partial("_header")
        @Html.Partial("_nav")
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Velzon.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by TT
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- JAVASCRIPT -->
    <script src="~/admin/assets/js/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/admin/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/admin/assets/libs/feather-icons/feather.min.js"></script>
    <script src="~/admin/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="~/admin/assets/libs/moment/moment.js"></script>
    <!-- apexcharts -->
    <script src="~/admin/assets/libs/apexcharts/apexcharts.min.js"></script>
    <!-- Vector map-->
    <script src="~/admin/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
    <script src="~/admin/assets/js/toastr.min.js"></script>
    <!-- Dashboard init -->
    <script src="~/admin/assets/js/bootstrap-table.min.js"></script>
    <script src="~/admin/assets/js/bootstrap-table-vi-vn.js"></script>
    <script src="~/admin/assets/js/pages/dashboard-analytics.init.js"></script>
    <!-- App js -->
    @*    <script src="~/assets/admin/ckeditor/ckeditor.js"></script>*@
    <script src="~/admin/assets/libs/jquery-confirm/jquery-confirm.min.js"></script>
    <script src="~/admin/assets/libs/select2/select2.min.js"></script>
    <script src="~/admin/assets/js/app.js"></script>
    <script src="~/admin/assets/controller/accounting.js"></script>
    <script src="~/admin/assets/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/admin/assets/controller/base.js" asp-append-version="true"></script>
    <script src="~/admin/assets/controller/@(controller).js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

