<!-- HEADER -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-5">
                <p>Chào mừng bạn đến với KoiKoi</p>
            </div>
            <div class="col-md-8 col-sm-7 text-align-right">
                <span class="phone-icon"><i class="fa fa-phone"></i> 010-060-0160</span>
                <span class="date-icon"><i class="fa fa-calendar-plus-o"></i> 8:30 - 22:00 (T2-T6)</span>
                <span class="email-icon"><i class="fa fa-envelope-o"></i> <a href="#">koikoi@company.com</a></span>
            </div>
        </div>
    </div>
</header>
